<h1>Business</h1>
<div class="well">
<%= link_to "New Business", new_business_path, class: "btn btn-primary" %>
</div>
<table class="table table-bordered table-stripped">
 <head>
  <tr>
   <th>Name:</th>
   <th>Number of interaction:</th>
   <th>&nbsp;</th>
  </tr>
 </head>
 <body>
  <%= if @business.count == 0 %>
  <tr>
   <td colspan="3">
    No business found. click the button above to add a new one.
   </td>
  </tr>

  <else>
   <%= @business.each do |business| %>
   <tr>
     <td><%= link_to business.name, business %>
     <td><%= business.interactions.count %></td>
     <td><%= link_to "Edit, edit_businesses_path(businesses)", class: "btn btn-default" %></td>
   <tr>
  <% end %>
  <% end %>
 </body>
</table>
